  <div class="w3-container w3">
  <br><br>
  </div>
  <div class="w3-container w3-teal">

  <h3>URL Shrtnr</h3>

  <% if (userid) { %>

    <h6><a href="/urls">Home</a> - <a href="/urls/new">Create New URL</a></h6>

  <% } %>
  </div>