<h3 href="../urls/">URL Shrtnr</h3>

<%= [userid].email %>

<% if (userid) { %>
  Hello, <%= userid %>.  <a href="/urls/new/">Create New URL</a> or
  <form action="/urls/logout" method="POST" style="display: inline;">
  <input type="submit" value="Logout">
</form>
<% } else { %>

<a href="/urls/register">Register</a><br><br>

<% } %>
