<h2>List of URL's</h2>
<ul>

<% let keys = Object.keys(urls) %>
<% keys.forEach(function (key){ %>
<li>
<%= urls[key] + "  " + key %>
<form method="POST" action="/urls/<%= key %>/delete">
<input type="submit" value="Delete">
</form>
</li>

<% }) %>

</ul>