<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../style.css">
    <title>URL Shrtnr</title>
  </head>
  <body class="w3-content" style="max-width:600px">
    <% include partials/_header %>

    <% if (userid) { %>
    <div class="w3-panel">
    <form action="/urls" method="POST" style="">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="hidden" name="userID" value="<%= userid %>">
      <input type="submit" value="Submit" class="w3-btn w3-teal w3-tiny">
    </div>

    <% } else { %>

      <div class="w3-panel">Please sign up for an account to do that.</div>

    <% } %>

    </form>

    <% include partials/_footer %>

  </body>
</html>