
<!DOCTYPE html>
<html lang="en">

  <head></head>

  <body>
    <% include partials/_header %>


      <% let keys = Object.keys(urls) %>
      <% keys.forEach(function (key){ %>


      <% if (urls[key].userid === userid) { %>
        <ul>
          <li>
            <a href="/u/<%= key %>"><%= key %></a>
            <a href="/urls/<%= key %>">Edit</a>
            <form method="POST" action="/urls/<%= key %>/delete" style="display: inline;">
            <input type="submit" value="Delete">
            </form>

      <%  } %>

      </li>

      <% }) %>

      </ul>

    </body>
</html>